.footer__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}
.footer__list > li > a {
   font-family: "Helvetica-light", sans-serif;
   font-weight: 300;
   font-size: 22px;
   line-height: 120%;
   color: var(--black-color);
}
.footer__list > li > a:hover {
    opacity: .4;
}
.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer__social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.footer__social-liink {
    display: block;
    width: 32px;
    height: 32px;
}
.footer__social-liink:hover {
    transform: scale(1.2);
}
.footer__social-liink > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer__page {
    border-top: 2px solid #33333366;
}