.header__hamburger {
    position: fixed;
    top: 50px;
    right: 37%;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.header__hamburger:hover {
    opacity: .8;
}
.header__hamburger > span {
    display: block;
    width: 3px;
    height: 3px;
    background-color: #fff;
    
    border-radius: 100%;
}
.header__img {
    width: 96px;
    height: 96px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--black-color);
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 16px;
}
.header__img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header__title {
    font-family: "Helvetica-Bold", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -.4px;
    text-align: center;
    color: var(--black-color);
    margin-bottom: 8px;
}
.header__social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19px;
}
.header__social-liink {
    display: block;
    width: 32px;
    height: 32px;
}
.header__social-liink:hover {
    transform: scale(1.2);
}
.header__social-liink > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header__travels {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.header__name {
    font-family: "Helvetica-Bold", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: -.4px;
    text-align: center;
    color: var(--black-color);
    margin-bottom: 8px;
}
.header__travel {
    padding: 30px 0;
}
.header__travel-list > li > a {
    font-family: "Helvetica-light", sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 120%;
    color: var(--black-color);
}
.header__travel-list > li > a:hover {
    opacity: .6;
}
.header__hamburger-travel {
    display: none;
}
.header__nav-mobile {
    position: absolute;
    top: 0;
    right: -100%;
    background-color: var(--gray-color);
    width: 70%;
    height: 100vh;
    z-index: 20;
}
.header__nav-list-mobile {
    display: block;
    padding: 50px;
}
.header__nav-list-mobile > li > a {
    font-family: "Helvetica-light", sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 120%;
    color: var(--black-color);
}
.header__nav-mobile-close {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.header__nav-mobile-close::after {
    content: "";
    position: absolute;
    top: 50px;
    right: 0;
    transform: rotate(45deg);
    background-color: var(--black-color);
    width: 20px;
    height: 2px;
    border-radius: 20px;
}
.header__nav-mobile-close::before {
    content: "";
    position: absolute;
    top: 50px;
    right: 0;
    transform: rotate(-45deg);
    background-color: var(--black-color);
    width: 20px;
    height: 2px;
    border-radius: 20px;
}
.header__hamburger-travel > span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    transform: translate(-50%, -50%);
}
.header__hamburger-travel > span:first-child {
    top: 30%;
}
.header__hamburger-travel > span:last-child {
    top: 70%;
}