.menu {
    padding: 40px 0;
}
.menu__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray-color2);
    padding: 20px 8px;
    border-radius: 12px;
    margin-bottom: 14px;
}
.menu__item:hover {
    transform: scale(1.02);
}
.menu__item-img {
    width: 30px;
    height: auto;
}
.menu__item-img  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu__item-track {
    font-family: "Helvetica-medium", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: var(--dark-color);
    text-transform: uppercase;
}
.menu__item-btn {
    width: 8px;
    height: auto;
    cursor: pointer;
}
.menu__item-btn > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}