.travels__banner {
    padding: 50px 0;    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
}
.travels__title {
    font-family: "Helvetica-Bold", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}
.travels__descr {
    font-family: "Helvetica-medium", sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 120%;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
.travels__banner-btn {
    width: 200px;
    height: 40px;
    background-color: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 20px 20px 40px var(--black-color);
    font-family: "Helvetica-Bold", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    text-align: center;
    color: #fff;
    margin: 0 auto;
}
.travels__banner-btn:hover {
    opacity: .8;
}